@{
    ViewData["Title"] = "Home Page";
}

@model Team

<form asp-controller="Home" asp-action="Index">
    <div class="form-group">
        <label asp-for="TeamId">Team</label>
        <select asp-for="TeamId">
            <option value="null">All</option>
            @foreach (Team team in ViewBag.team)
            {
                <option value="@team.TeamId">@team.TeamName</option>
            }
        </select>
    </div>
    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>


<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>

    </tr>
    <tbody>
        @foreach (var bowler in ViewBag.bowlers)
        {
        <tr>
            <td>@bowler.BowlerFirstName @bowler.BowlerMiddleInit @bowler.BowlerLastName</td>
            <td>@bowler.Team.TeamName</td>
            <td>@bowler.BowlerAddress</td>
            <td>@bowler.BowlerCity</td>
            <td>@bowler.BowlerState</td>
            <td>@bowler.BowlerZip</td>
            <td>@bowler.BowlerPhoneNumber</td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-BowlerId="@bowler.BowlerId" class="btn btn-sm btn-warning">Edit</a>
            </td>
            <td>
                <a asp-controller="Home" asp-action="Delete" asp-route-BowlerId="@bowler.BowlerId" class="btn btn-sm btn-danger">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>

